<form method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>

    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd"><br>

    <label for="report">Report Name:</label><br>
    <input type="text" id="report" name="report"><br>

    <label for="code">CPT Code(s):</label><br>
    <input type="text" id="code" name="code"><br>

    <label for="datef">Date From (MM-DD-YYYY):</label><br>
    <input type="text" id="datef" name="datef"><br>

    <label for="dateto">Date To:</label><br>
    <input type="text" id="dateto" name="dateto"><br>

    <label for="savefile">Save File:</label><br>
    <input type="text" id="savefile" name="savefile"><br>

    <input type="submit" value="Submit">
    <input type="reset">
</form>